<%- include('./partials/header'); -%>
<h1>Write Your Story.......</h1>
<!-- to use any variable  -->
<form action="/compose" method="post">
  <div class="form-group">
    <label for="composeTitle">Title</label><br />
    <input type="text" name="composeTitle" class="form-control" />
    <label for="composeBody">Post</label><br />
    <textarea
      name="composeBody"
      cols="10"
      rows="5"
      class="form-control"
    ></textarea>
  </div>
  <button class="btn btn-primary m-3" type="submit">Publish</button>
</form>
<%- include('./partials/footer'); -%>
